[include]
path = ./themes.gitconfig
[user]
name = Martin Brodziansky
email = martin.brodziansky@rossum.ai
[core]
pager = delta
editor = nvim
[interactive]
diffFilter = delta --color-only
[delta]
features = mantis-shrimp-lite
light = false
side-by-side = true
word-diff = true
line-numbers = true
navigate = true
paging = always
[merge]
confictStyle = diff3
[diff]
colorMoved = default
algorithm = histogram
[rebase]
updateRefs = true
[push]
autoSetupRemote = true
