[include]
path = ./themes.gitconfig
[user]
name = Martin Brodziansky
email = martin.brodziansky@rossum.ai
[core]
pager = env LESS='' delta
editor = nvim
excludesfile = ~/.gitignore_global
[interactive]
diffFilter = delta --color-only
[delta]
features = mantis-garden
light = false
side-by-side = true
word-diff = true
line-numbers = true
navigate = true
paging = always
hyperlinks = true
hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
confictStyle = zdiff3
[diff]
colorMoved = default
algorithm = histogram
[rebase]
updateRefs = true
[push]
autoSetupRemote = true
