[include]
path = ./themes.gitconfig
[user]
name = Martin Brodziansky
email = martin.brodziansky@rossum.ai
[core]
pager = delta
editor = nvim
[interactive]
diffFilter = delta --color-only
[delta]
features = weeping-willow
light = false
side-by-side = true
word-diff = true
color-scheme = TwoDark
line-numbers = true
navigate = true
[merge]
confictStyle = diff3
[diff]
colorMoved = default
[rebase]
updateRefs = true
[push]
autoSetupRemote = true
